
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3">
        <h3>Course level 1</h3>
        <p>Este curso es apropiado para tí si quieres aprender </p>
        <p>inglés desde 0 es para quienes no tienen experiencia</p>
        <img src="https://images.pexels.com/photos/5212653/pexels-photo-5212653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="200px" width="100%" >
        >
      </div>
      <div class="col-sm-4">
        <h3>Course lvl 2</h3>
        <p>Este curso es para personas que tengan un conocimiento medio</p>
        <p>en inglés es decir que tengan buenas bases con el idioma</p>
        <img src="https://images.pexels.com/photos/5211478/pexels-photo-5211478.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="200px" width="100%" >
      </div>
      <div class="col-sm-5">
        <h3>Course lvl 3</h3>
        <p>Este es un curso para estudiantes avanzados que desean</p>
        <p>avanzar en el idioma y estan considerando convertirse en maestros</p>
        <img src="https://images.pexels.com/photos/4861299/pexels-photo-4861299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="300px" width="100%" >
        
      </div>
    </div>
  </div>
